.header {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(1, 1fr);
align-items: center;
justify-items: center;
background-color: #8A8A8A;
border-radius: 5px;
border: 1px solid white;
margin-bottom: 20px;
}


@media screen and (max-width: 1120px) {
    .header {
      max-width: 928px;
    }
 }
 
 @media screen and (max-width: 780px) {
    .header {
      max-width: 720px;
      margin: 0px 24px 0px;
    }
 }
 
 @media screen and (max-width: 340px) {
    .header {
      max-width: 288px;
      margin: 0px 16px 0px;
    }
 }