.intro__text {

    font-size: 100px;
    line-height: 100px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0px;
    
    


}

@media screen and (max-width: 568px){
    .intro__text {
        width: 288px;
        height: 520px;
}
}